
 <div class="card mb-3" >
  <div class="row g-0">
      <div class="col-sm-5">
            <img src="assets/heroes/{{heroOne?heroOne[0].id:hero.id}}.jpg" class="card-img-top" alt="{{heroOne?heroOne[0].id:hero.id}}" />
      </div>
      <div class="col-sm-7">
          <div class="card-body">
              <h5 class="card-title">{{heroOne?heroOne[0].superhero:hero.superhero}}</h5>
              <p class="card-text">{{heroOne?heroOne[0].superhero:hero.superhero}}</p>
                    
              <p class='card-text'>
                  <small class='text-muted'>{{heroOne?heroOne[0].first_appearance:hero.first_appearance }}</small>
              </p>
              <div *ngIf="heroOne;else other_content">
                <a  class="btn btn-primary" (click)="goToHero(0)">
                    Mas...
                </a>
              </div>

              <ng-template #other_content>
                  
                <a class="btn btn-primary" (click)="goToHero(carrouselOn?i+1:i)">
                    Mas...
                </a>
              </ng-template>
              
          </div>
      </div>
  </div>
</div>

